.joystick {
  position: absolute;
  width: 10vw;
  aspect-ratio: 1/1;
  background-color: #A9A9A9;
  border-radius: 10vh;
  display: block;
  box-shadow: 0 4px 50px 10px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0px 0px 15px 15px #777777 inset;
}
.vspacer{
  flex-grow:1;
  width: 5vw;
  display: block;
}

.hspacer{
  flex-grow:1;
  height: 5vh;
  display: block;
}

.left {
  width: 100vw;
  aspect-ratio: 1 / 1;
  border: dashed;
  border-color: red;
  border-radius: 10vh;
  border-width: 5px;
  display: flex;
  flex-direction: row;
  flex-grow: 4;
  justify-content: center;
  align-items: center;	
  box-shadow: 0 4px 50px 10px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0px 0px 100px 15px #FFFFFF inset;

}
.lefty{
  background-color: #ffcccc;
  width: 45vw;
  height: 10vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;	
}
.right {
  width: 100vw;
  aspect-ratio: 1 / 1;
  background-color: #ffcccc;
  border: dashed;
  border-color: red;
  border-radius: 10vh;
  border-width: 5px;
  display: flex;
  flex-grow: 4;
  flex-direction: row;
  justify-content: center;
  align-items: center;	
  box-shadow: 0 4px 50px 10px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0px 0px 100px 15px #FFFFFF inset;

}
.control{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;	
  flex-grow: 10;
}
.cwindow{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}